@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page{
  width: 100%;
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/154a9550-ce07-4e28-819c-63185dd849f8/web/IN-en-20250106-TRIFECTA-perspective_27b02e7c-f668-4639-9e82-1a5485084b2a_large.jpg");
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.608);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper form{
  width: 450px;
}